* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./bg.jpg);
    background-size: cover;
}

.qr img {
    width: 170px;
}