@font-face{
    font-family: unb_regular;
    src: url(./res/UnB_Pro/UnB\ Pro_Regular.otf);
}

@font-face{
    font-family: unb_bold;
    src: url(./res/UnB_Pro/UnB\ Pro_Bold.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    font-weight: normal;
}

h1 {
    padding-top: 0px;
    padding-bottom: 40px;
}

.date, .admit, .price, h1 {
    letter-spacing: 8px;
}

.container {
    position: absolute;
    width: 920px;
    height: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./res/bg.jpg);
    background-color: rgba(200, 200, 200, 0.9);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket {
    height: 300px;
    width: 900px;
    display: grid;
    grid-template-columns: 22% 22% 22% 1fr;
    grid-template-rows: 65% 22% 13%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

    

.qr img {
    width: 170px;
}

.weareimd {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 5em;
}

.date {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.admit {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.price {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.qr {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

.included {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

@media screen and (max-width: 910px){

    .container {
        height: 600px;
        width: 300px;
    }

    .ticket {
        height: 550px;
        width: 300px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 16% 70% 12% 12%;
    }

    .weareimd {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        flex-direction: column-reverse;
    }

    .weareimd {
        background-color: black;
    }    
    
    h1 {
        color: white;
        padding-bottom: 0px;
        font-size: 1.75em;
    }
    h4 {
        color: white;
        font-size: 0.75em;
        letter-spacing: 4px;
        padding-top: 5px;
    }
    
    .date {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .admit {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .price {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .qr {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    
    .included {
        display: none;
    }

    .date, .admit, .price {
        letter-spacing: 4px;
        font-size: 1em;
    }
    
}